.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
}

.form-wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.diff-form-wrapper {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  margin-top: 15px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input,select {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

select{
  height: 30px;
  background: white;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName,.foodtype {
  margin-right: 1%;
}

.lastName,.quantity {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.confirmpassword,
.city,
.userType,
.foodtype,
.quantity,
.dropofflocations{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.foodtype,
.quantity {
  width: 49%;
}

.email,
.password,
.confirmpassword,
.dropofflocations,
.foodlist,
table {
  width: 100%;
}

.city,
.userType{
  width: 100%
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #258ea6;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

/*.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}*/

.createAccount small {
  color: #999;
  font-weight: lighter;
}

td{
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 1px;
  text-align: center;
  background: #258ea6;
  color: white;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: 700;
  line-height: 20.7px;
  font-size: 30px;
}

/*.header {
  padding: 1px;
  text-align: center;
  background: #258ea6;
  color: white;
  font-size: 30px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}*/

.title{
  color: white;
}

.split-para      { display:block;margin:10px;}
.split-para span { display:block;float:right;width:50%;margin-left:10px;}

.logout{
  margin-right:-1130px;
  font-size:20px;
}